.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 100vh;
}
/* .grid-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10ox;
  padding: 20px;
} */
.post-card{
  
}