.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 100vh;
}
/* post-card{
  display: flex;
  flex-wrap: wrap;
  gap: 10ox;
  padding: 20px;
} */
.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.post-card {
  display: grid;
  margin: 20px 50px;
  gap: 10px;
  padding: 20px;
}
.hashtag {
  margin: 0px 3px;
}
.reactions {
  width: 100%;
  margin: 15px 0 0 0;
}
.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.delete-post-btn {
  cursor: pointer;
  padding: 5px;
}
.welcome-message {
  margin: 100px 0;
}
.spinner {
  margin: 10% 0;
}

